.wrapper {
  width: 100%;
  background: #dbeafe;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  height: 1.5em;
}
.bar {
  background: linear-gradient(90deg, #60a5fa, #38bdf8);
  height: 100%;
  transition: width 0.4s;
}
.label {
  position: absolute;
  right: 1em;
  top: 0;
  font-weight: bold;
  color: #1e293b;
  line-height: 1.5em;
}
